{{define "base"}}
<!doctype html>
<html lang="en">
  <head>
    <title>{{template "title" .}} · pico.sh</title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="pico, pico.sh, hacker, labs, services" />

    <link rel="icon" sizes="16x16 24x24 32x32 64x64" href="/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="48x48" href="/favicon-48x48.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon-192x192.png">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/favicon-180x180.png">
    <link rel="apple-touch-icon" type="image/png" sizes="167x167" href="/favicon-167x167.png">
    <link rel="apple-touch-icon" type="image/png" sizes="152x152" href="/favicon-152x152.png">
    <link rel="manifest" href="/manifest.json">

    <link rel="stylesheet" href="/syntax.css" />
    <link rel="stylesheet" href="/smol.css" />
    <link rel="stylesheet" href="/main.css" />
    {{template "meta" .}}
  </head>

  <body {{template "attrs" .}}>
    {{template "body" .}}
  </body>
</html>
{{end}}
