{{define "base"}}
<!doctype html>
<html lang="en">
  <head>
    <title>{{template "title" .}} · pico.sh</title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="pico, pico.sh, hacker, labs, services" />

    <link href="/logo.svg" rel="icon" type="image/svg+xml"/>
    <link href="/logo.png" rel="icon" sizes="any" type="image/png"/>

    <link rel="stylesheet" href="/syntax.css" />
    <link rel="stylesheet" href="/smol.css" />
    <link rel="stylesheet" href="/main.css" />
    {{template "meta" .}}
  </head>

  <body {{template "attrs" .}}>
    <div class="debug-grid"></div>
    {{template "body" .}}
  </body>
</html>
{{end}}
