{{template "base" .}}

{{define "title"}}{{.Data.Title}}{{end}}

{{define "meta"}}
<meta name="description" content="{{.Data.Description}}" />
{{end}}

{{define "attrs"}}class="container"{{end}}

{{define "body"}}
{{template "nav" .}}

<main>
  <div class="flex flex-col gap-2">
    <div class="flex items-center justify-center hero">
      <div class="flex flex-col items-center gap-2">
        <h1 class="logo-header text-2xl">pico</h1>
        <div class="text-center text-lg">
          <div>open and managed web services leveraging <code>ssh</code></div>
        </div>
        <a href="/getting-started" class="btn-link">GET STARTED</a>
      </div>
    </div>

    <div><hr /></div>

    <div class="flex flex-col items-center group-2 mb-2">
      <div class="container-sm">
        The secret ingredient to all our services is how we let users
        publish content without needing to install anything.
        We accomplish this with the SSH tools you already have installed on your system.
      </div>

      <div class="container-sm">
        Want to publish a blog post? Use rsync, scp, or sftp.  Want to publish a
        website?  Use rsync, scp, or sftp.  Want to share a code snippet with a
        colleague?  Use rsync, scp, or sftp.  Hopefully you see the trend.
      </div>
    </div>

    <article class="features">
      <div class="box">
        <h3 class="m-0 p-0 text-lg">
          <a href="/tuns">tuns</a><a href="/plus" class="link-alt-hover ml">(+)</a>
        </h3>
        <p>https/wss/tcp tunnels to localhost using only SSH.</p>
      </div>

      <div class="box">
        <h3 class="m-0 p-0 text-lg">
          <a href="/pgs">pages</a><a href="/plus" class="link-alt-hover ml">(+)</a>
        </h3>
        <p>A static site hosting platform using SSH for site deployments.</p>
      </div>

      <div class="box">
        <h3 class="m-0 p-0 text-lg">
          <a href="/prose">prose</a>
        </h3>
        <p>A blog platform using SSH for content management.</p>
      </div>

      <div class="box">
        <h3 class="m-0 p-0 text-lg">
          <a href="/pastes">pastes</a>
        </h3>
        <p>Upload code snippets using rsync, scp, and sftp.</p>
      </div>

      <div class="box">
        <h3 class="m-0 p-0 text-lg">
          <a href="/feeds">rss-to-email</a>
        </h3>
        <p>An rss email notification service using SSH.</p>
      </div>

      <div class="box">
        <h3 class="m-0 p-0 text-lg">
          <a href="/imgs">docker registry</a><a href="/plus" class="link-alt-hover ml">(+)</a>
        </h3>
        <p>A private docker image registry using SSH for authentication.</p>
      </div>
    </article>

    <div>
      <hr />
    </div>

    <div class="group-2 home-features">
      <div class="box">
        <h3 class="mt mb-2 pt-0 text-lg text-hdr inline-block">Access localhost using https</h3>
        <div class="flex gap-2 flex-collapse">
          <div class="flex-1 group">
            <div>
              if you have a local webserver on <code>localhost:8000</code>,
              activate an SSH tunnel to us:
            </div>
            <pre>ssh -R dev:80:localhost:8000 tuns.sh</pre>
          </div>
          <div class="flex-1">
            Now your local dev server is available on the web: <strong>https://{user}-dev.tuns.sh</strong>
          </div>
        </div>
      </div>

      <div class="box">
        <h3 class="mt mb-2 pt-0 text-lg text-hdr inline-block">Deploy a site with a single command</h3>
        <div class="flex gap-2 flex-collapse">
          <div class="flex-1 group">
            <div>Upload your static site to us:</div>
            <pre>rsync -rv ./public/ pgs.sh:/mysite/</pre>
          </div>
          <div class="flex-1 group">
            <div>Now your site is available with TLS handled for you: <strong>https://{user}-mysite.pgs.sh</strong></div>
            <div>We also automatically handle TLS for your custom domains!</div>
          </div>
        </div>
      </div>

      <div class="box">
        <h3 class="mt mb-2 pt-0 text-lg text-hdr inline-block">Publish blog articles with a single command</h3>
        <div class="flex gap-2 flex-collapse">
          <div class="flex-1 group">
            <div>Create your first post, (e.g. <code>hello-world.md</code>):</div>
            <pre># hello world!

This is my first blog post.

Cya!</pre>
          </div>
          <div class="flex-1 group">
            <div>Upload the post to us:</div>
            <pre>scp hello-world.md prose.sh:/</pre>
            <div>
              Congrats!  You just published a blog article, accessible here:
              <strong>https://{user}.prose.sh/hello-world</strong>
            </div>
          </div>
        </div>
      </div>

      <div class="box">
        <h3 class="mt mb-2 pt-0 text-lg text-hdr inline-block">Easily share code snippets</h3>
        <div class="flex gap-2 flex-collapse">
          <div class="flex-1 group">
            <div>Pipe some stdout to us:</div>
            <pre>git diff | ssh pastes.sh changes.patch</pre>
          </div>
          <div class="flex-1">
            And instantly share your code snippets:
            <strong>https://{user}.pastes.sh/changes.patch</strong>
          </div>
        </div>
      </div>

      <div class="box">
        <h3 class="mt mb-2 pt-0 text-lg text-hdr inline-block">Receive email notifications for your favorite rss feeds</h3>
        <div class="flex gap-2 flex-collapse">
          <div class="flex-1 group">
            <div>Create a <code>blogs.txt</code> file:</div>
            <pre>=: email rss@myemail.com
=: digest_interval 1day
=> https://pico.prose.sh/rss
=> https://erock.prose.sh/rss</pre>
          </div>
          <div class="flex-1 group">
            <div>Then upload it to us:</div>
            <pre>scp blogs.txt feeds.pico.sh:/</pre>
            <div>
              After the daily interval has been reached, you will
              receive an email with your feeds!
            </div>
          </div>
        </div>

        <div class="box">
          <h3 class="mt mb-2 pt-0 text-lg text-hdr inline-block">Push and pull docker images using SSH</h3>
          <div class="flex gap-2 flex-collapse">
            <div class="flex-1 group">
              <div>Open a tunnel to our docker registry:</div>
              <pre>ssh -L 1338:localhost:80 -N imgs.sh</pre>
            </div>
            <div class="flex-1 group">
              <div>
                Now you are authenticated!  You are now able to push
                and pull like normal:
              </div>
              <pre>docker push localhost:1338/alpine:latest
  docker pull localhost:1338/alpine:latest</pre>
              <div>All images sent to us are private and scoped to your user automatically.</div>
            </div>
          </div>
        </div>
      </div>

      <div class="text-center">
        <h3 class="mt mb-2 pt-0 text-lg inline-block">Ready to join?</h3>
        <div><a href="/getting-started" class="btn-link">GET STARTED</a></div>
      </div>
    </div>

  <hr class="my-4" />

  {{template "footer" .}}
</main>
{{end}}
