{{template "base" .}}

{{define "title"}}{{.Data.Title}}{{end}}

{{define "meta"}}
<meta name="description" content="{{.Data.Description}}">
{{end}}

{{define "attrs"}}class="container"{{end}}

{{define "body"}}
{{template "nav" .}}

<main>
  <div class="flex flex-col gap-2">
    <div class="hero">
      <div class="box">
        <div class="text-sm mono text-grey mb">pico@sh: ~</div>
        <div class="flex items-center gap my">
          <span class="logo-md" style="height: 25px;">
            {{template "logo" "/logo.svg"}}
          </span>
          <h1 class="m-0"><span class="text-green">$</span> ssh pico.sh</h1>
        </div>
        <p class="mono mt">The ultimate <code>ssh</code> powered services for developers.</p>
        <div class="flex items-center gap my mono">
          <a href="/getting-started">[get started]</a>
          <a href="/sitemap">[docs]</a>
        </div>
      </div>
    </div>

    <div class="box">
      <div class="text-sm mono text-grey mb">DESCRIPTION</div>
      <p class="my">
        Publish and prototype with the tools already in your <code>$PATH</code>:
        <code>scp</code>, <code>rsync</code>, <code>sftp</code>, and <code>ssh</code>.
        Stay in your shell.
      </p>
      <div class="mt mono text-sm">
        <span class="text-grey">see also:</span> <a href="https://blog.pico.sh/rfc-001-radical-experimentation">[rfc-001 radical experimentation]</a>
      </div>
    </div>

    <article class="features">
      <div class="box">
        <h3 class="m-0 flex items-center">
          <span class="logo-md" style="margin-right: 9px; height: 25px;">
            {{template "logo" "/logo-pgs.svg"}}
          </span>
          <a href="/pgs">[pages]</a>
        </h3>
        <div>Deploy static sites with a single command. <code>rsync</code> and you're live.</div>
      </div>

      <div class="box">
        <h3 class="m-0 flex items-center">
          <span class="logo-md" style="margin-right: 9px; height: 25px;">
            {{template "logo" "/logo-tuns.svg"}}
          </span>
          <a href="/tuns">[tuns]</a>
        </h3>
        <div>Host public web services on localhost using SSH.</div>
      </div>

      <div class="box">
        <h3 class="m-0 flex items-center">
          <span class="logo-md" style="margin-right: 9px; height: 25px;">
            {{template "logo" "/logo-pipe.svg"}}
          </span>
          <a href="/pipe">[pipe]</a>
        </h3>
        <div>Pubsub without the infrastructure. Stream data between machines using SSH.</div>
      </div>

      <div class="box">
        <h3 class="m-0 flex items-center">
          <span class="logo-md" style="margin-right: 9px; height: 25px;">
            {{template "logo" "/logo-prose.svg"}}
          </span>
          <a href="/prose">[prose]</a>
        </h3>
        <div>Write your blog with markdown. <code>rsync</code> and you're live.</div>
      </div>

      <div class="box">
        <h3 class="m-0 flex items-center">
          <span class="logo-md" style="margin-right: 9px; height: 25px;">
            {{template "logo" "/logo-patchbin.svg"}}
          </span>
          <a href="/patchbin">[patchbin]</a>
        </h3>
        <div>A pastebin for patches, supercharged for git collaboration.</div>
      </div>
    </article>

    <div>
      <hr>
    </div>

    <div class="group-2 home-features">
      <div class="box">
        <h3 class="mt-0">Deploy a site with a single command</h3>
        <p class="my">Upload your static site to us:</p>
        <pre class="cmd">rsync --delete -rv ./public/ pgs.sh:/mysite/</pre>
        <p class="my">Your site is live with automated TLS: <strong>https://{user}-mysite.pgs.sh</strong> (custom domains included).</p>
      </div>

      <div class="box">
        <h3 class="mt-0">Access localhost using https</h3>
        <p class="my">If you have a local webserver on <code>localhost:8000</code>, activate an SSH tunnel:</p>
        <pre class="cmd">ssh -R dev:80:localhost:8000 tuns.sh</pre>
        <p class="my">Now your local dev server is available on the web: <strong>https://{user}-dev.tuns.sh</strong></p>
      </div>

      <div class="box">
        <h3 class="mt-0">Authenticated *nix pipes over SSH</h3>
        <p class="my">Have one terminal listen for an event and another terminal send the event:</p>
        <pre class="cmd">ssh pipe.pico.sh sub mytopic</pre>
        <pre class="cmd">echo "Hello world!" | ssh pipe.pico.sh pub mytopic</pre>
        <p class="my">The <code>sub</code> subscriber will receive <code>"Hello world!"</code></p>
      </div>

      <div class="box">
        <h3 class="mt-0">Publish blog articles with a single command</h3>
        <p class="my">Create your first post (e.g. <code>hello-world.md</code>):</p>
        <pre># hello world!

This is my first blog post.

Cya!</pre>
        <p class="my">Upload the post using scp:</p>
        <pre class="cmd">scp hello-world.md prose.sh:/</pre>
        <p class="my">Your blog article is live: <strong>https://{user}.prose.sh/hello-world</strong></p>
      </div>

      <div class="box">
        <h3 class="mt-0">Git collaboration with patches</h3>
        <p class="my">Submit a patch request to us:</p>
        <pre class="cmd" style="max-width: 365px; overflow-x: scroll;">git format-patch main --stdout | ssh pr.pico.sh pr create {repo}</pre>
        <p class="my">Pull down and apply the latest patchset:</p>
        <pre class="cmd">ssh pr.pico.sh print {prID} | git am -3</pre>
        <p class="my">Web dashboard available at <strong>https://pr.pico.sh</strong></p>
      </div>

      <div>
        <hr />
      </div>

      <h3 class="m-0 flex items-center">What people are saying about pico</h3>

      <article class="features">
        <div class="box">
          "Big fan of pico.sh, been hosting a few small sites on there for a
          while now, no faster way to get something up and running"
          <a href="https://news.ycombinator.com/item?id=43563757">scbenet</a>
        </div>

        <div class="box">
          "Love the KISS approach to your services. Simple text files, built on
          fundamental services."
          <a href="https://news.ycombinator.com/item?id=43563900">stego-tech</a>
        </div>

        <div class="box">
          "SSH is kind of a secret hidden interface because of how nerdy it is,
          so I feel that it goes underappreciated sometimes."
          <a href="https://news.ycombinator.com/item?id=43579419">fragmede</a>
        </div>
      </article>

      <div class="text-center mono my">
        <h3 class="inline-block">Ready to join?</h3>
        <div class="my"><a href="/getting-started">[get started]</a></div>
      </div>
    </div>

  <hr class="my-4">

  {{template "footer" .}}
  </div>
</main>
{{end}}
