{{template "base" .}}

{{define "title"}}{{.Data.Title}}{{end}}

{{define "meta"}}
{{end}}

{{define "attrs"}}class="container"{{end}}

{{define "body"}}
{{template "nav" .}}

<main>
  <div class="flex flex-col gap-2">
    <div class="flex items-center justify-center hero">
      <div class="flex flex-col items-center gap-2">
        <h1 class="logo-header text-2xl">pico</h1>
        <div class="text-center text-lg">hacker labs</div>
        <a href="/getting-started" class="btn-link">GET STARTED</a>
      </div>
    </div>

    <article class="features">
      <div class="box">
        <h3 class="m-0 p-0 text-lg">
          <a href="/pgs">pgs.sh</a>
        </h3>
        <p>A zero-dependency static site hosting service for hackers</p>
      </div>

      <div class="box">
        <h3 class="m-0 p-0 text-lg">
          <a href="/tuns">tuns.sh</a>
        </h3>
        <p>Access localhost using https</p>
      </div>

      <div class="box">
        <h3 class="m-0 p-0 text-lg">
          <a href="/prose">prose.sh</a>
        </h3>
        <p>A blog platform for hackers</p>
      </div>

      <div class="box">
        <h3 class="m-0 p-0 text-lg">
          <a href="/pastes">pastes.sh</a>
        </h3>
        <p>A pastebin for hackers</p>
      </div>

      <div class="box">
        <h3 class="m-0 p-0 text-lg">
          <a href="/imgs">imgs.sh</a>
        </h3>
        <p>Image hosting for hackers</p>
      </div>

      <div class="box">
        <h3 class="m-0 p-0 text-lg">
          <a href="/feeds">feeds.sh</a>
        </h3>
        <p>An rss email notification service</p>
      </div>
    </article>
  </div>

  <hr class="my-4" />

  {{template "footer" .}}
</main>
{{end}}
