{{define "nav"}}
<nav class="mk-nav">
  <div class="flex items-center justify-center gap-2">
    <div class="group-h" style="gap: 0.25rem;">
      <img src="/logo.svg" width="22" />
      <a href="/" class="link-alt">
        pico
      </a>
    </div>
    <a href="/sitemap" class="link-alt">
      sitemap
    </a>
    <a href="https://github.com/picosh" class="link-alt">
      github
    </a>
    <a href="https://web.libera.chat/gamja?autojoin=#pico.sh" class="link-alt">
      irc
    </a>
    <a href="https://blog.pico.sh" class="link-alt">
      blog
    </a>
    <a href="/plus" class="link-alt-hover">
      pico+
    </a>
  </div>
</nav>
{{end}}
