{{template "base" .}}

{{define "title"}}{{.Data.Title}}{{end}}

{{define "meta"}}
<meta name="description" content="{{.Data.Description}}" />
{{end}}

{{define "attrs"}}class="container"{{end}}

{{define "body"}}
{{template "nav" .}}

<main>
  <div class="flex flex-col gap-2">
    <div class="flex items-center justify-center hero">
      <div class="flex flex-col items-center gap-2">
        <h1 class="logo-header text-2xl">pico+</h1>
        <div class="text-center text-2xl">$25/year</div>
        <div class="text-center">
          <h3 class="text-lg p-0">Your first challenge awaits</h3>
          <div>In order to purchase a membership you must travel to our web UI</div>
          <pre>ssh -L 1337:localhost:80 -N pico-ui@pgs.sh</pre>
          <div><a href="http://localhost:1337/plus" class="btn-link">localhost:1337/plus</a></div>
        </div>
      </div>
    </div>

    <article class="features">
      <div class="box">
        <h3 class="m-0 p-0 text-lg">
          <a href="/pgs">pgs.sh</a>
        </h3>
        <p>10GB asset storage</p>
      </div>

      <div class="box">
        <h3 class="m-0 p-0 text-lg">
          <a href="/tuns">tuns.sh</a>
        </h3>
        <p>Full access!</p>
      </div>

      <div class="box">
        <h3 class="m-0 p-0 text-lg">
          <a href="/imgs">imgs.sh</a>
        </h3>
        <p>5GB image registry storage</p>
      </div>

      <div class="box">
        <h3 class="m-0 p-0 text-lg">
          <a href="/prose">prose.sh</a>
        </h3>
        <p>1GB image storage</p>
      </div>

      <div class="box">
        <h3 class="m-0 p-0 text-lg">
          <a href="/irc">beta access</a>
        </h3>
        <p>Get invited to a private IRC channel where we share beta access to new features and services</p>
      </div>
    </article>
  </div>

  {{template "pager" .}}

  <hr class="my-4" />

  {{template "footer" .}}
</main>
{{end}}
