{{template "base" .}}

{{define "title"}}{{.Data.Title}}{{end}}

{{define "meta"}}
<meta name="description" content="{{.Data.Description}}" />
{{end}}

{{define "attrs"}}class="container"{{end}}

{{define "body"}}
{{template "nav" .}}

<h1 class="text-2xl">Styles</h1>

<div class="group">
  <div class="group">
    <h2 class="text-xl">Headers</h2>

    <h1 class="text-2xl">Header 1</h1>
    <h2 class="text-xl">Header 2</h2>
    <h3 class="text-lg">Header 3</h3>
    <h4 class="text-md">Header 4</h4>
  </div>

  <div class="group">
    <h2 class="text-xl">Prose</h2>

    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting
      industry. Lorem Ipsum has been the industry's standard dummy text
      ever since the 1500s, when an unknown printer took a galley of
      type and scrambled it to make a type specimen book. It has survived
      not only five centuries, but also the leap into electronic
      typesetting, remaining essentially unchanged. It was popularised
      in the 1960s with the release of Letraset sheets containing Lorem
      Ipsum passages, and more recently with desktop publishing software
      like Aldus PageMaker including versions of Lorem Ipsum.
    </p>

    <div class="font-bold">Some bold font</div>
    <div class="font-italic">Some italic font</div>
  </div>

  <div class="group">
    <h2 class="text-xl">Button</h2>

    <div><a href="#" class="btn-link">A button link</a></div>
  </div>

  <div class="group">
    <h2 class="text-xl">Code</h2>

    <div><code>code</code></div>

    <div><code class="pill">example</code></div>
    <div><code class="pill">example longer</code></div>

    <div><code class="pill-alert">example</code></div>
    <div><code class="pill-alert">example longer</code></div>

    <div><code class="pill-info">example</code></div>
    <div><code class="pill-info">example longer</code></div>

    <pre>docker compose up -d</pre>
  </div>

  <div class="group">
    <h2 class="text-xl">Box</h2>

    <div class="box">
      This is a box!
    </div>

    <div class="box-sm">
      This is a smaller box!
    </div>

    <div class="box-alert">
      This is a box alert!
    </div>

    <div class="box-sm-alert">
      This is a smaller box alert!
    </div>
  </div>

  <div class="group">
    <h2 class="text-xl">Blockquote</h2>

    <blockquote>
      This is a blockquote.  Here is a blockquote with <code>code</code> in it.
    </blockquote>
  </div>

  <div class="group">
    <h2 class="text-xl">Lists</h2>

    <ol>
      <li>One</li>
      <li>
        Two

        <ol>
          <li>SubOne</li>
          <li>SubTwo</li>
          <li>SubThre</li>
        </ol>
      </li>
      <li>Three</li>
    </ol>

    <ul>
      <li>One</li>
      <li>Two</li>
      <li>Three</li>
    </ul>
  </div>
</div>

{{template "pager" .}}
{{template "footer" .}}
{{end}}
