{{define "toc"}}
<div class="sitemap-grid">
{{range .Sitemap.Children -}}
  {{if .Children}}
  <div class="box">
    <h2 class="text-xl inline-block">{{.Text}}</h2>
    <ul class="list-none" style="padding-left: 0;">
    {{range .Children -}}
      <li>
        <a href="{{.GenHref}}">{{.Text}}</a>

        <ul>
        {{range .Children}}
          <li>
            {{if .Data}}
            <a href="{{.GenHref}}"><img src="{{.Data.Src}}" /> {{.Text}}</a>
            {{else}}
            <a href="{{.GenHref}}">{{.Text}}</a>
            {{end}}
          </li>
        {{end}}
        </ul>
      </li>
    {{- end}}
    </ul>
  </div>
  {{end}}
{{- end}}
</div>
{{end}}
