{{define "toc"}}
<ol>
  {{range .Sitemap}}
    <li>
      <a href="{{.GenHref}}">{{.Text}}</a>

      {{if eq (len .Children) 0}}
      {{else}}
        <ul>
          {{range .Children}}
            <li><a href="{{.GenHref}}">{{.Text}}</a></li>
          {{end}}
        </ul>
      {{end}}
    </li>
  {{end}}
</ol>
{{end}}
