@media (prefers-color-scheme: light) {
  #logo { stroke: #414558; fill: none; }
}
@media (prefers-color-scheme: dark) {
  #logo { stroke: #f2f2f2; fill: none; }
}

.divider {
  width: 1px;
  height: auto;
  background-color: var(--grey-light);
}

.visited {
  color: var(--visited);
}

.sitemap {
  width: 200px;
  flex: 0 0 200px;
}

.post {
  max-width: 700px;
}

.container-xs {
  max-width: 20em;
  width: 100%;
}

.post-container {
  display: flex;
  gap: 1rem;
  flex-direction: row-reverse;
}

.hero {
  padding: calc(var(--line-height) * 3) 0 0 0;
}

.home-features pre {
  margin: 0;
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  gap: var(--line-height);
}

.features h3 {
  border: none;
}

.mk-nav {
  padding: var(--line-height);
}

.current {
  background-color: var(--blockquote-bg) !important;
  border-right: 5px solid var(--blockquote);
}

.current a {
  color: var(--white);
}

.current-page a {
  color: var(--white);
}

.pager {
  min-width: 150px;
}

.sitemap-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.sidebar-list {
  padding: 0 0 0 var(--line-height);
}

@media only screen and (max-width: 800px) {
  body {
    padding: 0 0.75rem;
  }

  header {
    margin: 0;
  }

  .post-container {
    display: block;
  }

  .sitemap {
    column-count: 2;
    width: 100%;
  }

  .sitemap-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .mk-nav {
    padding: var(--line-height) 0;
  }

  .divider {
    display: none;
  }
}
