.sitemap {
  width: 150px;
}

.post {
  max-width: 700px;
}

.post-container {
  display: flex;
  gap: 1rem;
  flex-direction: row-reverse;
}

.hero {
  padding: 5rem 0;
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  gap: 1rem;
}

.features h3 {
  border: none;
}

.mk-nav {
  padding: 1rem;
}

.current {
  background-color: var(--blockquote-bg) !important;
  border-right: 5px solid var(--blockquote);
}

.current a {
  color: var(--white);
}

.current-page a {
  color: var(--white);
}

.pager {
  min-width: 150px;
}

@media only screen and (max-width: 800px) {
  body {
    padding: 0 1rem;
  }

  header {
    margin: 0;
  }

  .post-container {
    display: block;
  }

  .sitemap {
    text-align: center;
    -moz-column-count: 2;
    column-count: 2;
    width: 100%;
  }

  .mk-nav {
    padding: 1rem 0;
  }
}
