.hero {
  padding: 10rem 0;
}

.mk-nav {
  padding: 1rem;
}

.mk-nav a,
.mk-nav a:visited,
.mk-nav a:visited:hover,
.mk-nav a:hover {
  color: var(--white);
  text-decoration: none;
}

.mk-nav a:visited:hover,
.mk-nav a:hover {
  text-decoration: underline;
}

.mk-subheader {
  font-size: 2rem;
  line-height: 1;
  border-bottom: none;
  margin: 10px 0;
  padding: 0;
}

.mk-desc {
  margin: 0;
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  gap: 1rem;
}

.features h2 {
  border: none;
  padding: 0;
}
